.import-success-message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8); /* semi-transparent white */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  font-family: Arial, sans-serif;
}

.check-icon {
  font-size: 64px;
  color: green;
  margin-bottom: 16px;
}

.success-text {
  font-size: 20px;
  color: #333;
}
