.custom-style-navbar {
  padding: 0px 10em;
}

.dropdown-menu {
  background-color: #212529 !important;
}

.dropdown-item {
  color: white;
  cursor: pointer;
}

.custom-style-navbar {
  position: relative;
}

.navbar-nav .dropdown-menu {
  position: none;
}

.custom-right {
  position: absolute;
  right: 0;
  left: -150px;
  top: 38px;
}

/* Corrected CSS */
.drop-down-element a {
  cursor: pointer !important;
  background-color: transparent !important; /* Now works */
  color: white !important;
  font-weight: 500;
}

.dropdown-menu a:hover {
  background-color: rgb(86, 211, 100) !important; /* Hover effect */
  color: black;
}

.import-habit-model {
  background-color: #17131a;
  color: white;
  border: none;
}

.spinner-overlay {
  position: fixed; /* Stay above all content */
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background: rgba(
    255,
    255,
    255,
    0.6
  ); /* Optional semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it's on top */
}

@media (min-width: 360px) and (max-width: 724px) {
  .navbar {
    padding: 0;
    padding-right: 10%;
    padding-left: 10%;
  }

  .navbar-nav {
    margin: 0;
    padding: 0;
  }
}
