<div class="main-container">


  <div class="contribution-grid-section">
    <h5 class="home-grid-name">Progress Grid</h5>

    <app-contribution-calendar [contributionCountsWithItsDates]="allContributionCountsAndWithTheirDatesData"
      [selectedYear]="selectedYear" [contributeColors]="['#0d1117', this.habitDetailViewModel.color]">
    </app-contribution-calendar>
  </div>

  <!-- main of calender contribution and stats container -->

  <div class="parent-container-of-contribution-calender-and-stats-cards">

    <div class="first-column">

      <!-- calender of stats -->
      <div class="contribution-calender">
        <div class="contribution-calender-with-habit-name">
          <h3 class="habit-name">{{habitDetailViewModel.name}}</h3>
          <app-habit-done-days-calender [doneCompletionsColorOnDates]="habitDetailViewModel.color"
            [specialDates]="onlyDatesOfCompletionForCalender"
            (triggerOfChangingMonthInHabitDetail)="changeStatisByChangeInCalenderMonth($event)"></app-habit-done-days-calender>
        </div>
      </div>

      <!-- habit image section -->
      @if(this.habitDetailViewModel.imageUrl.length > 0) {
      <div class="habit-image-section" (click)="openHabitImage()">
        <h3>Image</h3>
        <img [src]="habitDetailViewModel.imageUrl" width="100%" height="100%" alt="">
      </div>
      }

    </div>

    <div class="second-column">

      <!-- cards of stats -->
      <div class="parent-container-of-stats-card">

        <div class="card">
          <p class="stats-parent"><span class="stats-value">{{selectedHabitId}}</span>
            <span class="stats-value-name">Id</span>
          </p>
          <p class="header-name">Current habit id</p>
        </div>

        <div class="card">
          <p class="stats-parent"><span class="stats-value">{{selectedHabitStreak.streak}}</span>
            <span class="stats-value-name">Days</span>
          </p>
          <p class="header-name">Current steak</p>
        </div>

        <div class="card">
          <p class="stats-parent"><span class="stats-value">{{longestStreakOfThisHabit}}</span>
            <span class="stats-value-name">Days</span>
          </p>
          <p class="header-name">Longest Streak Days</p>
        </div>

        <div class="card">
          <p class="stats-parent"><span class="stats-value">{{selectedYearHabitCompletionsDoneCount}}</span>
            <span class="stats-value-name">Days</span>
          </p>
          <p class="header-name">Completed in this Year</p>
        </div>

        <div class="card">
          <p class="stats-parent"><span class="stats-value">{{completedSelectedHabitTimesThisCurrentWeek}}</span>
            <span class="stats-value-name">Days</span>
          </p>
          <p class="header-name">Completed this week</p>
        </div>

        <div class="card">
          <p class="stats-parent"><span class="stats-value">{{completedSelectedHabitTimesThisMonth}}</span>
            <span class="stats-value-name">Days</span>
          </p>
          <p class="header-name">In this Month</p>
        </div>

        <div class="card">
          <p class="stats-parent"><span
              class="stats-value">{{totalEntireHabitCompletionsDoneCountOfSelectedHabit}}</span>
            <span class="stats-value-name">Days</span>
          </p>
          <p class="header-name">In Total of this habit</p>
        </div>

        <div class="card">
          <p class="stats-parent"><span class="stats-value">{{averageWeeklyCompletion}}</span>
            <span class="stats-value-name">Days</span>
          </p>
          <p class="header-name">Average weekly</p>
        </div>


      </div>

      <!-- Description note section -->
      @if(this.habitDetailViewModel.description.length > 0){
      <div class="description-note-section">
        <h3>Description Note</h3>
        <div [innerHTML]="habitDescriptionForInnerHtml"></div>
      </div>
      }

    </div>

  </div>

</div>


<!-- Open image in dialog -->
<div class="modal fade bd-example-modal-lg" #HabitImageModel tabindex="-1" role="dialog"
  aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <img [src]="habitDetailViewModel.imageUrl" width="100%" height="100%" alt="">
    </div>
  </div>
</div>
