<app-contribution-calendar [contributionCountsWithItsDates]="allContributionCountsAndWithTheirDatesData"
  [selectedYear]="selectedYearContributionGrid" [contributeColors]="['#0d1117', this.habitDetailViewModel.color]">

</app-contribution-calendar>



<div style="margin-left: 40%;">
  <h1>HabitId: {{selectedHabitStreak.habitId}}</h1>
  <h1>Streak: {{selectedHabitStreak.streak}}</h1>
</div>

<!-- Spinner -->

<div *ngIf="showSpinner" class="spinner-overlay">
  <app-spinner></app-spinner>
</div>
