.calendar {
  max-width: 250px;
  margin: auto;
  color: white;
}

.calendar .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  padding: 0.5em;
  font-size: 0.8em;


}

.calendar .weekdays,
.calendar .days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  cursor:default;
}

.calendar .weekdays {
  background: transparent;
  padding: 0.3em;
  font-weight: bold;
  font-size: 0.8em;
}

.calendar .days {
  background: transparent;
  font-size: 0.8em;

}

.calendar .days div {
  padding: 0.3em;
  /* border: 1px solid transparent; */
}

.calendar .days .highlight {
  color: black;
  font-weight: 550;
  border-radius: 100px;
}

.change-month-btn {
  background-color: none;
  color: white;
  background:none;
  border: none;
  font-size: 1em;
}
