.main-container {
  max-width: 1000px;
  margin: 3em auto;
}

.home-contribution-area {
  max-width: 850px;
  margin: auto;
}

.home-grid-name {
  font-weight: 800;
}

.habits {
  max-width: 400px;
  margin: 3em auto;
}

.single-habit {
  padding: 0.5em 0.5em;
  min-width: 10em;
  max-width: 22em;
  height: 3em;
  border: 0.5px solid white;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}
