<div class="main-container">

  <div class="home-contribution-area">

    <h5 class="home-grid-name">Prograss Grid</h5>

    <app-contribution-calendar [contributionCountsWithItsDates]="allContributionCountsAndWithTheirDatesData"
      [selectedYear]="selectedYearContributionGrid">

    </app-contribution-calendar>

  </div>

  <div class="habits">
    <h5 class="home-grid-name">Habits</h5>

    <div class="single-habit">

      <div class="left-items">
        <span>Habit name</span>
      </div>


      <div class="right-items">
        <span style="color: blue;">Edit</span> &nbsp;
        <input type="checkbox">
      </div>


    </div>

    <div class="single-habit">

      <div class="left-items">
        <span>Habit name</span>
      </div>


      <div class="right-items">
        <span style="color: blue;">Edit</span> &nbsp;
        <input type="checkbox">
      </div>


    </div>

    <div class="single-habit">

      <div class="left-items">
        <span>Habit name</span>
      </div>


      <div class="right-items">
        <span style="color: blue;">Edit</span> &nbsp;
        <input type="checkbox">
      </div>


    </div>


  </div>

</div>
