.main-container {
  max-width: 1000px;
  width: 90%;
  margin: 4em auto;
}

.home-contribution-area {
  width: 100%;
  max-width: 850px;
  min-width: 225px;
  margin: 0 auto;
}

.home-grid-name {
  font-weight: 800;
}

.habits {
  max-width: 400px;
  margin: 3em auto;
}

.single-habit {
  width: 100%;
  padding: 0.8em 1em 0.3em 1em;
  min-width: 18em;
  max-width: 25em;
  border: 0.5px solid rgb(52, 64, 81);
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  border-radius: 6px;
  background-color: transparent;
  height: auto;
  overflow: auto;
  word-wrap: break-word;
  color: white;
  position: relative;
  overflow: hidden;
}

.left-items {
  max-width: 68%;
}

.habit-check-box[type="checkbox"] {
  accent-color: #4caf50; /* ✅ Checked color */
  border-radius: 4px;
  cursor: pointer;
}

.single-habit:hover {
  background-color: #181717; /* semi-transparent white */
  cursor: pointer;
}

.habit-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.habit-header-text {
  font-weight: 800;
}

.habit-add-btn {
  padding: 0.2em;
  min-width: 7em;
}

.add-habit-model-content {
  background-color: #17131a;
  color: white;
  border: none;
}

.modal-title {
  font-weight: 900;
}

.habit-input-section input {
  background-color: transparent;
  border-color: rgb(56, 60, 66);
  color: white;
  min-width: 100%;
  padding: 0.3em 0.4em;
}

.color-picker-wrapper {
  position: relative;
  display: inline-block;
}

.color-picker-wrapper input {
  max-width: 2em !important;
  border: none;
  border-radius: 5em;
  cursor: pointer;
}

.color-picker-icon {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* ensures clicks go to input */
  color: black;
}

.import-done-message-overlay {
  position: fixed; /* Stay above all content */
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background: rgba(
    255,
    255,
    255,
    0.6
  ); /* Optional semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it's on top */
}

.progress {
  --bs-progress-bg: rgb(35, 45, 60) !important;
  margin-top: 1.5%;
}

.right-items-prograss-bar {
  text-align: right;
}

/* ribbon wrapper */
.ribbon {
  color: #fff;
}
.ribbon {
  --f: 0.5em; /* control the folded part */
  position: absolute;
  top: 0;
  left: 0;
  padding-inline: 1lh;
  padding-bottom: var(--f);
  border-image: conic-gradient(#0008 0 0) 51% / var(--f);
  clip-path: polygon(
    100% calc(100% - var(--f)),
    100% 100%,
    calc(100% - var(--f)) calc(100% - var(--f)),
    var(--f) calc(100% - var(--f)),
    0 100%,
    0 calc(100% - var(--f)),
    999px calc(100% - var(--f) - 999px),
    calc(100% - 999px) calc(100% - var(--f) - 999px)
  );
  transform: translate(calc((cos(45deg) - 1) * 100%), -100%) rotate(-45deg);
  transform-origin: 100% 100%;
}

:host ::ng-deep .NgxEditor__Content {
  background-color: rgb(23, 19, 26);
  border-color: rgb(56, 60, 66);
  color: white;
  word-wrap: break-word;
  max-height: 10em;
  overflow: auto;
}

:host ::ng-deep .NgxEditor__MenuBar {
  background-color: rgb(23, 19, 26);
  border: rgb(56, 60, 66) solid 1px;
  color: white;
}

:host ::ng-deep .NgxEditor__MenuItem:hover {
  color: rgb(86, 211, 100);
}

:host ::ng-deep .NgxEditor__Dropdown:hover {
  color: rgb(56, 60, 66);
}

:host ::ng-deep .NgxEditor {
  border: solid rgb(56, 60, 66) 1px;
}

.cp-ok-button-class {
  background-color: #1f6feb;
  color: white;
  border: none;
  padding: 0.6em 0.2em;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cp-ok-button-class:hover {
  background-color: #1158c7;
}

.modal-body {
  height: 90%;
  max-height: 600px;
}
